.post {
    @media #{$small} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        .info {
            width: 50%;
        }
        .illus {
            width: 47%;
        }
       
    }
    @media #{$mobile}{
        .info {
            margin-bottom: 15px;
            .more {
                flex-wrap: wrap;
                a {
                    margin-left: 30px !important;
                }
            }
        }
    }
    padding: 20px 20px;
    .info {
        h1 {
            font-size: 30px;
        }
        .scheduling {
            margin-bottom: 10px;
            span {
                color: $span-color;
                font-size: 16px;
                margin-left: 10px;
                font-weight: 600;
            }
        }
        .more {
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
            }
            span {
                font-size: 13px;
                font-weight: 400;
                color: $text-color;
            }
            a {
                color: $span-color;
                font-size: 16px;
                margin-left: 10px;
                font-weight: 600;
                text-decoration: underline;
            }
        }

    }
    .illus {
        img {
            width: 100%;
        }
    }
}
.users {
    @media #{$small} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        .user-pics {
            width: 48%;
        }
        .desc {
            width: 48%;
        }
    }
    padding: 20px 20px;
    .user-pics {
        h2 {
            margin-bottom: 15px;
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

}
.analysis {
    @media #{$small} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        .unifield {
            width: 45%;
        }
        .enhanced {
            width: 45%;
        }
    }
    padding: 20px 20px;
    background-color: $sky-color;
    div {
        .blue {
            color: $link-color;
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0px;
            color: $span-color;
        }
        a {
            font-size: 15px;
            font-weight: 600;
            color: $span-color;
        }

    }
}
.dashboard {
    display: none;
    @media #{$small} {
        padding: 20px 50px;
        .prices {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .price {
                width: 31% !important;
                margin-bottom: 0 !important;
            }
        }
    }
    background-color: $white;
    padding: 20px 20px;
    h1 {
        color: $black;
    }
    .choose {
        display: flex;
        align-items: center;
        justify-content: center;
        & > span {
            font-size: 14px;
            font-weight: 400;
            color: $text-color;
            &.monthly {
                margin-right: 10px;
            }
            &.yearly {
                margin-left: 10px;
            }
        }
        .cont-boll {
            width: 50px;
            height: 20px;
            background-color: $twitter-color;
            border-radius: 20px;
            position: relative;
            .boll {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: $white;
                border-radius: 50%;
                position: absolute;
                cursor: pointer;
                &.left-boll {
                    left: 4px;
                }
                &.right-boll {
                    display: none;
                    right: 4px;
                }
            }
        }
    }
    .prices {
        margin-top: 25px;
        .price {
            height: fit-content;
            padding: 10px;
            border: 1px solid $text-color;
            margin-bottom: 15px;
            border-radius: 3px;
            h4 {
                font-size: 20px;
                color: $black;
                font-weight: 700;
                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: $text-color;

                }
            }
            .offer {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
            button {
                width: 100%;
            }
        }
    }
}

/// i get to point where i need to fix dashboard page