// color
$white: #fff;
$black: #0e0d0d;
$text-color: #716f6f;
$twitter-color: #00acee;
$sky-color:  #c8f2f8;
$link-color: #243389;
$span-color: #133437;
$main-bg: #f0f0e5;
$border: #f3ad2a;
$price-bg: #fff7e6;

// font
$family: 'Poppins', sans-serif;

// breakpoint
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';
$skiny: '(max-width: 500px)';
